<div class="main">
    <div class="foot">
        <div class="social">
            <h4>Kamal Medicare</h4>
            <p>Connect with Us</p>
            <div class="icons">
    
            </div>
        </div>
        <div class="about">
            <h4>About Us</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero et non ad aut facilis laboriosam animi sit, quibusdam esse corporis, numquam ducimus accusamus earum? Molestiae esse accusantium corrupti illum officia.</p>
        </div>
        <div class="contact">
            <h4>contact Us</h4>
            <p>kamalmedicaregmail.com</p>
            <p>+91 989353356</p>
        </div>
         <div class="appoinment">
            <h4>Get appoinment</h4>
            <a href="">appoinment</a>
         </div>
    </div>
    <p>copyright2025 Kamalmedicare</p>
</div>