<div class="main">
    <div class="content">
    <h1 [contentEditable]="loginstatus" (input)="onheadingchange($event)"[innerHTML]="heading.content"></h1>
    <p [contentEditable]="loginstatus" (input)="oncontentchange($event)" [innerHTML]="content.content"></p>
          <a href="/about-us">View More</a>
    </div>
    <input type="file" id="welcomefileinput" *ngIf="loginstatus" (change)="onwelcomechange($event)" hidden accept="image/*" >
        <img [src]="filehandle.url" 
            *ngIf="loginstatus"
            id="welcomeimagePreview" 
            alt="Click to upload"
            (click)="triggerFileInput()">
        <img [src]="filehandle.url" *ngIf="!loginstatus" alt="">
</div>