<app-header></app-header>
<div class="main">
    <div class="profile">
        <img [src]="filehandle.url" alt="">
        <div class="information">
            <h1>{{doctor.name}}</h1>
            <p id="paragraph">{{doctor.email}}</p>
            <p id="paragraph">91+ {{doctor.phone}}</p>
        </div>
    </div>
    
    <div class="tabs-container">
    <div class="tabs">
      <button 
        class="tab-button" 
        *ngFor="let tab of tabs; let i = index" 
        [class.active]="i === activeTab"
        (click)="selectTab(i)">
        {{ tab.label }}
      </button>
    </div>
  
    <div class="tab-content">
      <div 
        *ngFor="let tab of tabs; let i = index" 
        class="tab-pane" 
        [class.active]="i === activeTab">
        <h2>{{ tab.label }}</h2>
        <div class="content" *ngIf="tab.label=='Education'">
          <div class="info" *ngFor="let edu of education">
            <h4>{{edu.degree}}</h4>
            <h4>{{edu.universityname}}<p>{{edu.fromdate}} to {{edu.todate}}</p></h4>
         </div>
       </div>
       <div class="experiences" *ngIf="tab.label=='Experenice'">
        <div class="content" *ngIf="tab.label=='Experenice'">
          <div class="info" *ngFor="let exp of experiences">
            <h4>{{exp.years}} years of Experience of in {{exp.field}} at {{exp.hospitalname}}</h4>
         </div>
       </div>
       <h2 >Doctor Specialization</h2>
       <div class="content">
        <div class="specializations">
          <h4 *ngFor="let spe of doctorspecializations">Specialized in {{spe.speacialization.fieldname}}</h4>
        </div>
       </div>
       </div>
     <div class="content" *ngIf="tab.label=='Treatment'">
      <div class="treatments" *ngFor="let treat of showtreatmentsarray;let i = index">
        <h4>{{treat.treatment.title}}</h4>
        <p>{{treat.treatment.description}}</p>
        <p>{{treat.treatment.tratmentdate}}</p>
        <div class="patient">
           <h4>{{treat.treatment.patient1.name}}</h4>
           <p>{{treat.treatment.patient1.age}}</p>
        </div>
        <div class="casestudies" *ngFor="let case of treat.casestudiesarray">
           <h4>{{case.casestudy.title}}</h4>
           <p>{{case.casestudy.description}}</p>
           <div class="finalresult">
             <h4>final result</h4>
            <p>{{case.casestudy.result}}</p>
            <div class="images">
               <img *ngFor="let img of case.casestudyimages" [src]="img.url" alt="">
            </div>
           </div>
        </div>
      </div>
    </div>
      </div>
    </div>
  </div>
  <form action="">
    <input type="submit" (click)="openAppointment()" value="Book Appoinment">
  </form>
</div>

<app-appoinmentform 
[isOpen]="isappointmentopen"
(close)="handleAppointmentClose()"
(formSubmit)="handleFormAppointmentSubmit()"
></app-appoinmentform>

<app-footer></app-footer>