<app-header></app-header>
<div class="main">
    <h1>Facilities We Provide</h1>
    <div class="facilites">
        <a href="/facilites/8"><app-facility-box></app-facility-box></a>
        <a href="/facilites/8"><app-facility-box></app-facility-box></a>
        <a href="/facilites/8"><app-facility-box></app-facility-box></a>
        <a href="/facilites/8"><app-facility-box></app-facility-box></a>
        <a href="/facilites/8"><app-facility-box></app-facility-box></a>
        <a href="/facilites/8"><app-facility-box></app-facility-box></a>
        <a href="/facilites/8"><app-facility-box></app-facility-box></a>
        <a href="/facilites/8"><app-facility-box></app-facility-box></a>
    </div>
</div>
<app-footer></app-footer>
