h1,p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #132743;
    padding-left: 10%;
    padding-right: 10%;
}

.main{
    width: 100%;
    height: auto;
    padding-bottom: 10%;
    padding-top: 4%;
}

img{
    width: 30%;
    height: auto;
}

.images{
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
}