<app-header></app-header>
<div class="main">
    <h1>Heading</h1>
    <div class="images">
        <img src="../../
        /doctor3.png" alt="">
        <img src="../../assets/hospital.jpeg" alt="">
        <img src="../../assets/hospital2.jpeg" alt="">
        <img src="../../assets/doctor1new.png" alt="">
    </div>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos omnis vero ea tempore molestias, natus aliquid recusandae molestiae voluptatum aliquam velit id quos doloribus earum autem eius commodi laboriosam consequatur?
    Nihil soluta deleniti voluptates a, quidem similique et facere repellat vel alias sunt dignissimos adipisci in quis amet iste repellendus quo explicabo. Magni tempora eveniet pariatur eius nisi? Ab, mollitia?
    Esse, nisi cumque praesentium minima laborum magni dolore error! Est, omnis blanditiis dolorum autem doloremque quisquam nostrum explicabo deleniti rerum expedita pariatur, non cumque molestiae necessitatibus ad sed? Ex, numquam!</p>
</div>
<app-footer></app-footer>