<div class="main">
    <div class="content">
        <h1 [contentEditable]="loginstatus" (input)="onheadingchange($event)" [innerHTML]="heading.content"></h1>
        <p [contentEditable]="loginstatus" (input)="oncontentchange($event)" [innerHTML]="content.content"></p>
    </div>
    <div class="specialization">
        <app-specialization *ngFor="let spe of specializationarray| slice:0:3; let i = index" [Specialization]="spe"  ></app-specialization>
    </div>
    <div class="dialog-body">
        <div class="carousel">
           <button class="arrow-btn left" (click)="prevImage()">&lt;
           </button>
           <app-specialization [Specialization]="specializationarray[currentImageIndex]"></app-specialization>
           <button class="arrow-btn right" (click)="nextImage()">&gt;
           </button>
        </div>
     </div>
</div>