<div class="main">
    <div class="content">
        <h1>specialization</h1>
        <p>Our specialized cancer treatment hospital offers comprehensive,
             patient-centered care with advanced therapies like immunotherapy, 
             targeted treatments, and precision surgery. Combining state-of-the-art 
             technology with a multidisciplinary team of expert oncologists and compassionate support 
             staff, we create personalized treatment plans to ensure the best outcomes. With a focus on innovation, 
             healing, and hope, we are dedicated to transforming the fight against cancer for every patient.</p>
    </div>
    <div class="specialization">
        <app-specialization></app-specialization>
        <app-specialization></app-specialization>
        <app-specialization></app-specialization>
        <app-specialization></app-specialization>
    </div>
    <a href="/speacialization" id="viewmore">View More</a>
</div>