<div class="main">
    <div class="content">
       <h1 [contentEditable]="loginstatus" (input)="onheadingchange($event)" [innerHTML]="heading.content"></h1>
        <p [contentEditable]="loginstatus" (input)="oncontentchange($event)" [innerHTML]="content.content"></p>
   </div>
   <div class="doctors">
      <app-doctor-box *ngFor="let doc of doctorarray| slice:0:3" [doc]="doc" ></app-doctor-box>
   </div>
   <div class="dialog-body">
      <div class="carousel">
         <button class="arrow-btn left" (click)="prevImage()">&lt;
         </button>
         <app-doctor-box [doc]="doctorarray[currentImageIndex]" ></app-doctor-box>
         <button class="arrow-btn right" (click)="nextImage()">&gt;
         </button>
      </div>
   </div>
</div>