.main{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #132743;
    border-bottom: #ddd 3px solid;
}

.content{
    padding-left: 10%;
    padding-right: 5%;
    color: #ddd;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.speacializationsdoctors{
    text-align: center;
    padding-top: 4%;
    border-top: #ddd 4px solid;
    background-color: #ddd;
}
.images{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
}

img{
    width: 30%;
    height: auto;
}

.doctors{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 4%;
    gap: 2rem;
    z-index: 10;
    padding-bottom: 8%;
}


h1 {
    font-size: calc(10px + 1.2vw);
    margin-bottom: 0;
    color: #ffb5b5;
    text-decoration: underline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  p {
    font-size: calc(8px + 0.7vw); /* Base size 12px + scales with viewport width */
  }
  