<div class="main">
    <div class="content">
       <h1>News And Bloges</h1>
        <p>Lorem ipsum dolor sit amet consectetur adError aut, aliquid dolorum possimus autem doloremque aperiam cum animi libero, id eius nihil!</p>
   </div>
   <div class="bloges">
      <a href="/newsblog/3"><app-blog-news-box></app-blog-news-box></a>
      <a href="/newsblog/3"><app-blog-news-box></app-blog-news-box></a>
      <a href="/newsblog/3"><app-blog-news-box></app-blog-news-box></a>
      <a href="/newsblog/3"><app-blog-news-box></app-blog-news-box></a>
   </div>
   <a href="/news-blogs" id="button">view mores</a>
</div>