<div class="main">
    <div class="content">
        <h1>Our Happy Patients</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus quis commodi facere asperiores consequuntur deserunt eum, officia delectus odit dicta distinctio nam pariatur. Delectus laudantium, iste sapiente porro hic excepturi.</p>
    </div>
    <div class="reviews">
        <app-reviewbox></app-reviewbox>
        <app-reviewbox></app-reviewbox>
    </div>
    <div class="links">
        <a href="/viewsreviews">view more</a>
    </div>
</div>